/* Normalize */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
}

h1,
h3,
h4,
p,
a {
  color: #093025;
}

.flex {
  display: flex;
}

.btn {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  color: #fff;
  border: none;
  border-radius: 7px;
  font-weight: 600;
  cursor: pointer;
}

.primary {
  background-color: #2fa38e;
  transition: 0.2s;
}

.primary:hover {
  background-color: #53c0ac;
}

.glassdoor {
  background-color: #0caa40;
  transition: 0.2s;
}

.glassdoor:hover {
  background-color: #25bd57;
}

.wide {
  min-width: 130px;
}

.gt {
  color: #fff;
}

/* Header */
header {
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
  height: 130px;
  width: 100%;
}

.logo img {
  height: 50px;
}

nav ul li {
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  transition: 0.2s;
}

nav ul li a:hover {
  color: #2fa38e;
}

@media screen and (max-width: 900px) {
  header {
    height: 100px;
  }

  .logo img {
    height: 45px;
  }
}
